@import "global";

.container {
  border-radius: 2rem;
  overflow: hidden;

  width: 100%;
  max-width: 36rem;
  height: 48rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.avatar {
  position: relative;
  width: 100%;
  height: 100%;
}

.avatarInfo {
  box-sizing: border-box;
  padding: 2.4em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fullName {
  font-size: 2.4rem;
  font-weight: bold;
}

.jobTitle {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1em;
}

.placeholder {
  background-color: $clr-neutral-7;

  .avatar {
    background-color: $clr-neutral-7;
  }

  .avatarInfo {
    background-color: $clr-neutral-7;
  }

  .fullName {
    border-radius: 1rem;
    width: 100%;
    height: 5rem;
    margin-bottom: 1.5rem;
    background-color: $clr-neutral-8;
  }

  .jobTitle {
    border-radius: 1rem;
    width: 100%;
    height: 5rem;
    background-color: $clr-neutral-8;
  }

  .desc {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    background-color: $clr-neutral-8;
  }
}
