// Default Layout Variables
$navbar-height: 7rem;

// TYPOGRAPHY VALUES
$font-sans: "Inter", sans-serif;
$font-mono: "Inconsolata", monospace;

// BREAKPOINTS
$breakpoints: (
  xs: 30em,
  //480px
  sm: 48em,
  //768px
  md: 64em,
  //1024px
  lg: 90em,
  //1440px
);

// COLORS
// DARK MODE COLORS

// GREYSCALE (Darkest to Lightest)
$clr-neutral-0: #1f242c;
$clr-neutral-1: #222831;
$clr-neutral-2: #383e46;
$clr-neutral-3: #4e535a;
$clr-neutral-4: #64696f;
$clr-neutral-5: #7a7e83;
$clr-neutral-6: #919498;
$clr-neutral-7: #d2d3d3;
$clr-neutral-8: #efefef;

// THEMES
$themes: (
  dark: (),
  light: (),
);
