@import "global";

.base {
  @include themify() {
    background-color: has(clr-bg);
  }

  h1 {
    @include themify() {
      color: has(clr-h1);
    }
  }

  h2 {
    @include themify() {
      color: has(clr-h2);
    }
  }

  h3 {
    @include themify() {
      color: has(clr-h3);
    }
  }

  h4 {
    @include themify() {
      color: has(clr-h4);
    }
  }

  p,
  li {
    @include themify() {
      color: has(clr-text);
    }
  }
}
