@import "../utilities/variables";
@import "../utilities/mixins";
@import "../utilities/functions";

// NORMALIZATION
html {
  font-size: 62.5%; //1rem = 10px;
}

html,
body {
  margin: 0;
  padding: 0;
}

::selection {
  color: $clr-primary;
  background-color: #000;
}

input,
textarea {
  @include baseThemify() {
    color: has(clr-text);
  }
}

button {
  border: .1rem solid transparent;
  cursor: pointer;

  @include baseThemify() {
    color: has(clr-text-inverse);
    background-color: has(clr-bg-inverse);
  }
}

button:focus,
a:focus {
  outline: 0 none;
  @include baseThemify() {
    border-color: has(clr-bg-inverse);
  }
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  border-color: $clr-primary;
  outline: 0 none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  text-transform: capitalize;
  @include baseThemify() {
    color: has(clr-text-lc);
  }
}
