.noselect {
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

// MARGIN RIGHT
.mr-soft {
  margin-right: 0.5em;
}

.mr-regular {
  margin-right: 1em;
}

.mr-hard {
  margin-right: 2em;
}

// MARGIN LEFT
.ml-soft {
  margin-left: 0.5em;
}

.ml-regular {
  margin-left: 1em;
}

.ml-hard {
  margin-left: 2em;
}

// MARGIN BOTTOM
.mb-soft {
  margin-bottom: 0.5em;
}

.mb-regular {
  margin-bottom: 1em;
}

.mb-hard {
  margin-bottom: 2em;
}

.mb-spacer {
  margin-bottom: 20vh;
}

// MARGIN TOP
.mt-soft {
  margin-top: 0.5em;
}

.mt-regular {
  margin-top: 1em;
}

.mt-hard {
  margin-top: 2em;
}

// MARGIN HORIZONTAL
.mh-soft {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.mh-regular {
  margin-left: 1em;
  margin-right: 1em;
}

.mh-hard {
  margin-left: 2em;
  margin-right: 2em;
}

// MARGIN VERTICAL
.mv-soft {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.mv-regular {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mv-hard {
  margin-top: 2em;
  margin-bottom: 2em;
}

// MARGIN ALL
.ma-soft {
  margin: 0.5em;
}

.ma-regular {
  margin: 1em;
}

.ma-hard {
  margin: 2em;
}

// MAX-WIDTH
.mw-soft {
  max-width: 20em;
}

.mw-regular {
  max-width: 30em;
}

.mw-hard {
  max-width: 40em;
}

.outlineButton {
  display: flex;
  align-items: center;
  @include baseThemify() {
    color: has(clr-text);
    background-color: rgba($color: has(clr-bg), $alpha: 0.3);
  }
}

.primaryButton {
  font-weight: 800;
  font-size: 1.6rem;
  width: 100%;
  max-width: 10em;
  color: $clr-neutral-8;
  box-shadow: 0 0.2em 0.4em rgba($color: $clr-neutral-0, $alpha: 0.3);

  @include baseThemify() {
    background-color: rgba($color: has(clr-cta), $alpha: 0.8);

    &:hover {
      background-color: rgba($color: has(clr-cta), $alpha: 1);
    }

    &:active {
      background-color: rgba($color: has(clr-cta), $alpha: 0.8);
    }
  }
}
