@import "global";

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  // Default logo size
  font-size: 1.6rem;
}

.bar {
  width: 0.5em;
  height: 2.5em;

  // @include themify() {
  //   background-color: has(clr-primary);
  // }
  margin-right: 0.5em;
}

.title {
  display: flex;
  flex-direction: column;
  font-family: $font-mono;
  font-weight: 500;
  text-transform: uppercase;

  // @include themify() {
  //   color: has(clr-bg-inverse);
  // }

  span:first-of-type {
    // @include themify() {
    //   color: has(clr-primary);
    // }
  }
}
