@import "global";

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  backdrop-filter: blur(0.2rem);

  z-index: 9999;
}

.defaultBackground {
  // @include themify() {
  //   background: rgba($color: has(clr-bg-1up), $alpha: 0.8);
  // }
}

.innerContainer {
  width: 100%;
  max-width: has(lg);
  height: 100%;

  @include respondMax(lg) {
    padding: 0 1em;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
}

.menuItem {
  &:not(:last-of-type) {
    margin-right: 1em;
  }
}

.menuLink {
  box-sizing: border-box;
  position: relative;

  padding: 1.2em 2em;

  @include respondMax(sm) {
    padding: 1.2em 0;
  }

  // @include themify() {
  //   color: has(clr-text);
  // }

  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);

    display: block;
    width: 100%;
    max-width: 0;
    height: 0.1rem;

    // @include themify() {
    //   background-color: has(clr-primary);
    // }

    transition: max-width 0.2s ease-in-out;
  }

  &:hover::after {
    max-width: 100%;
  }

  &:hover {
    // @include themify() {
    //   color: has(clr-primary);
    // }
  }

  &:focus {
    // @include themify() {
    //   color: has(clr-primary);
    // }
  }
}
